.project {
    width: 100%;
    background-color: white;
    border-radius: 8px;

    &-background {
        height: 200px;
        width: 100%;
        background-color: blue;
    }

    &-bottom {
        padding: 16px;
    }

    &-title {
        font-size: 18px;
        line-height: 20px;
    }

    &-date-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 10px;
    }

    &-icon {
        padding-right: 4px;
    }

    &-create-at {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-update-at {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


.task-item {
    background-color: red;
}

.background-container {
    aspect-ratio: 600 800;
}