.project {
    width: 100%;
    background-color: white;

    &-background {
        height: 200px;
        width: 100%;
        background-color: blue;
    }

    &-bottom {
        padding: 16px;
    }

    &-title {
        font-size: 18px;
        line-height: 20px;
    }

    &-date-container {}
}